body{
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-align: center;
}

/*.content{
  transform-origin: top left;
  transform: scale(1.196);
}*/

.hor{
  position: absolute;
  height: 50px;
  background: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 10px;
}

.ver{
  position: absolute;
  width: 50px;
  background: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin: 10px;
}

.innerDiv{
  background: black;
}

#w1{
  height: 290px;
}

#w2{
  top: 180px;
  left: 60px;
  width: 170px;
}

#w3{
  top: 120px;
  left: 120px;
  width: 50px;
}

#w4{
  left: 240px;
  height: 290px;
}


#i1{
  left: 300px;
  width: 290px;
}

#i2{
  top: 60px;
  left: 420px;
  height: 170px;
}

#i3{
  top: 240px;
  left: 300px;
  width: 290px;
}

#r1{
  left: 600px;
  height: 290px;
}

#r2{
  left: 660px;
  width: 170px;
}

#r3{
  top: 60px;
  left: 840px;
  height: 50px;
}

#r4{
  top: 120px;
  left: 660px;
  width: 170px;
}

#r5{
  top: 180px;
  left: 840px;
  height: 110px;
}

#e1{
  left: 900px;
  height: 290px;
}

#e2{
  left: 960px;
  width: 230px;
}

#e3{
  top: 120px;
  left: 960px;
  width: 230px;
}

#e4{
  top: 240px;
  left: 960px;
  width: 230px;
}

#d1{
  left: 1200px;
  height: 290px;
}

#d2{
  left: 1260px;
  width: 170px;
}

#d3{
  top: 60px;
  left: 1430px;
  height: 170px;
}

#d4{
  top: 240px;
  left: 1260px;
  width: 170px;
}