@import url('https://fonts.googleapis.com/css2?family=Neuton:ital@1&display=swap');

body{
	background: white;
	width: 100vw;
	height: 100vh;
}

#content{
	/*background: blueviolet;*/
	width: 600px;
	font-family: 'Georgia', serif;
	font-size: 20px;
	line-height: 28px;
	margin: auto;
	z-index: 3;
}

#content h1{
	font-family: 'Neuton', serif;
	font-size: 60px;
	line-height: 60px;
}